{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | Ecommerce Website Design</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'images/logo.png' %}" alt="logo" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="{% url 'list_products' %}">Products</a></li>
                        {% if not user.is_authenticated %}
                        <li><a href="{%url 'account' %}">Account</a></li>
                        {% else %}
                        <li><a href="{%url 'logout' %}">Logouot</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% if user.is_authenticated %}
                <a href="{% url 'cart' %}"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
                {% endif %}
                <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Welcome to TeeStyle <br> A New Style!</h1>
                    <p>Level Up Your Look - Shop The Latest <br> Tees Now.</p>
                    <a href="" class="btn">Explore Now &#8594;</a>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Feadtued Categories -->

    
    <!-- Featured Products -->

    
    <!-- Offer -->
   

    <!-- Testimonial -->
   

    <!-- Brands -->

   
    <!-- Footer -->
     <div class="footer">
        <div class="container">
            <p style="text-align: center;">teestyle@gmail.com</p>
            <hr>
            <p class="copyright">Copyright 2025 - teestyle</p>
        </div>
    </div>
 
    <!-- javascript -->

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

</body>

</html>