{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment | teestyle</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'list_products' %}">Products</a></li>
                    <li><a href="{% url 'order_status' %}">My Orders</a></li>
                    <li><a href="{% url 'account' %}">Account</a></li>
                     <li><a href="{% url 'cart' %}"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Payment Details -->
    <div class="small-container">
        <h2 class="title">Payment</h2>

        {% if cart %}
        <table>
    <tr>
      <td>Subtotal</td>
      <td>${{ subtotal }}</td>
    </tr>
    <tr>
      <td>Tax</td>
      <td>${{ tax }}</td>
    </tr>
    <tr>
      <td><strong>Total</strong></td>
      <td><strong>${{ total }}</strong></td>
    </tr>
  </table>
       
        <br>

        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn" onclick="processOrder()">Check Out</button>
        </form>
        {% else %}
        <p>Your cart is empty.</p>
        {% endif %}
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
             <p style="text-align: center;">teestyle@gmail.com</p>
            <hr>
            <p class="copyright">
                Copyright {% now "Y" %} - teestyle
            </p>
        </div>
    </div>
    
</body>
<script>
  function processOrder() {
    alert("Your order is processed. Delivered with in 5 days.");
    window.location.href = "{% url 'order_status' %}";  // Replace 'order_status' with your success page URL name
  }
</script>
</html>

